@charset "UTF-8";
#applicantSkills {
	background-color: #fcaf3e;
	margin: auto;
	width: 42%;
}

section > h2, #skillsTable {
	text-align: center;
}

#submit {
	margin: auto;
	width: 5%;
	position: relative;
	top: 80px;
}