@charset "UTF-8";
header {
	text-align: center;
	background-color: #6ccd55;
}

a:link, a:visited {
	font-family: sans-serif;
	font-weight: bold;
	background-color: #ef2929;
	color: white;
	padding: 14px 24px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
}