<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Job Search Tracker v1</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/newPosition.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous" type="text/javascript"></script>
</head>
<body>
	<header>
		<h1>New Position</h1>
	</header>
	
	<form action="#" th:action="@{/newPosition}" th:object="${newPosition}" th:method="POST">
		<div id="position">
			<section id="info" class="positionInfo">
				<div>
					<label for="title">Position Title</label>
					<input id="title" type="text" th:field="*{positionTitle}"/>
					<label for="companyName">Company</label>
					<input id="companyName" type="text" th:field="*{companyName}"/>
				</div>
				<div>
					<label for="dateApplied">Date Applied</label>
					<input id="dateApplied" type="text" th:field="*{dateApplied}"/>
					<label for="duration">Duration</label>
					<input id="duration" type="text" th:field="*{duration}"/>
				</div>
				<div id="address">
					<div>
						<label for="address1">Street</label>
						<input id="address1" type="text" th:field="*{address.address1}"/>
						<label for="city">City</label>
						<input id="city" type="text" th:field="*{address.city}"/>
					</div>
					<div>
						<input id="address2" type="text" th:field="*{address.address2}"/>
						<label for="state">State</label>
						<input id="state" type="text" th:field="*{address.state}"/>
					</div>
					<div id="zip">
						<label for="zipcode">Zip</label>
						<input id="zipcode" type="text" th:field="*{address.zip}"/>
					</div>
				</div>
			</section>
			
			<section id="responsibilities" class="positionSection">
				<h3>Responsibilities</h3>
				<textarea rows="6" cols="103" th:field="*{positionDetails.responsibilities}"></textarea>
			</section>
			<section id="qualifications" class="positionSection">
				<h3>Qualifications</h3>
				<textarea rows="6" cols="103" th:field="*{positionDetails.qualifications}"></textarea>
			</section>
			<section id="preferred" class="positionSection">
				<h3>Preferred Qualifications</h3>
				<textarea rows="6" cols="103" th:field="*{positionDetails.preferredQualifications}"></textarea>
			</section>
			<section id="perksBenefits" class="positionSection">
				<h3>Perks & Benefits</h3>
				<textarea rows="6" cols="103" th:field="*{positionDetails.perksBenefits}"></textarea>
			</section>
		</div>
		<div id="submit">
			<input type="submit" value="Submit"/>
		</div>
	</form>
</body>
</html>